body {
    
    background-image:url(../img/turismo1.jpg) ;
    background-repeat:no-repeat ;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Estilos de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    
}

/* Estilos del encabezado */
header {
    background: rgb(19, 19, 101);;
    color: #fff;
    padding: 20px 0;
}

header .logo-container {
    float: right;
    margin-right: 20px; /* Ajusta el espacio entre el logo y el texto */
}

.logo {
    width: 100px; /* Ancho del logo */
    height: 100px; /* Altura del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
   
}

header h1 {
    margin: 0;
    line-height: 50px; /* Alinea verticalmente el texto con el logo */
}


header h1 {
    flex: 1;
    margin: 0;
}

nav ul {
    list-style: none; /* Elimina los marcadores de lista */
    margin: 0; /* Elimina el margen exterior de la lista */
    padding: 0; /* Elimina el relleno interior de la lista */
}

nav ul li {
    display: inline; /* Muestra los elementos de lista en línea */
    margin-left: 20px; /* Agrega un margen a la izquierda de cada elemento de lista */
}

nav ul li a {
    color: hsl(0, 0%, 100%); /* Establece el color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

/* Estilos del héroe */
.hero {
    background: url('hero.jpg') center/cover;
    color: #000000;
    text-align: center;
    padding: 100px 0;
}

.hero h2 { 
    /* va a modificar todo lo que contiene en h2*/
    font-size: 3em; /Esto es el tamaño de la fuente/
}

.hero p {
     /* va a modificar todo lo que contiene en p*/
    font-size: 1.5em; /esto es el tamaño de la fuente/
}

.btn {
    display: inline-block;
    background: #ff5e00;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos de destinos */
.destinos {
    padding: 50px 0;
}

.destino {
    float: left;
    width: 30%;
    margin: 1.66%;
}

.destino img {
    transition: transform 0.1 ease-in-out;
    width: 100%;
    border-radius: 5px;
  
}
.destino img:hover {
    transform: scale(1.2)
}
.destino h3 {
    margin-top: 10px;
}

/* Estilos de servicios */
.servicios {
    background-color: hsla(180, 7%, 71%, 0.353);
    padding: 50px 0;

}

.servicio {
    float: left;
    width: 26%;
    margin: 1.66%;
    background-color: #fef6f6;
    padding: 20px;
    border-radius: 5px;
   /*  display:inline-block;
    flex-direction:column;
    justify-content: center; */
    
}

.servicio img {
    width: 100%;
    border-radius: 5px;
    /* display: inline-block; */
}

.servicio h3 {
    margin-top: 10px;
}

/* Estilos del pie de página */
footer {
    background: rgb(19, 19, 101);;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.redes-sociales {
    margin-top: 20px;
}

.redes-sociales a {
    margin-right: 10px;
}