<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Etiqueta "link:favicon" para incorporar un ícon -->
     <link rel="shortcut icon" href="../static/img/VGD travel.ico"image/x-icon">
     <link rel="stylesheet" href="../static/css/equipaje3.css">
     <title>Equipaje</title>
</head>
<body>
    <div class="contenedor-body">
        <!-- Encabezado -->
        <header class="header" >
            <div class="container-header">
                <img src="../static/img/VGD travel.png" alt="Logo de la Agencia de Viajes" class="logo">
                <h1>VGD Travel</h1>
            <!-- menú de navegación -->
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="nosotros.html">Quienes somos</a></li>
                        <!-- <li><a href="https://flybondi.com/ar/destinos/" target="_blank">Destinos</a></li> -->
                        <li><a href="equipaje.html">Tips de Equipaje<a></a></li>
                        <li><a href="vehiculos.html">Alquiler Vehículos</a></li>
                        <li><a href="formulario.html">Compañero de Aventuras<a></a></li>
                    </ul>    
                </nav>
            </div>
        </header>

    <!-- Contenido -->
        <main class="contenido">
            
            <section class="sec-1">
                <h2>Te ayudamos a organizarte para tu próximo viaje....</h2>
                <p><u ><strong>Equipaje y accesorios</strong></u><br>
                    <ol>
                        <li><dt><strong>Mochila</strong></dt>
                            <dt>¿Mochila o maleta? Cada viaje es diferente y factores tales como la duración del mismo e incluso las comodidades<br> de las que se quiera gozar influyen mucho a la hora de elegir. <br>Sin embargo, las mochilas tienen muchísimas ventajas, que a continuación te pasaremos a detallar: </dt><br>
                            <dd>Comodidad: Con una mochila lo único que tienes que hacer es ponértela sobre los hombros y caminar,<br> no tienes que forzarte a cargar un gran peso con tus manos o brazos.</dd><br>
                            <dd>Facilidad de movimientos y traslados: Tienes las manos libres para moverte o ser más ágil, podrás correr, <br>subir o bajar sin mayor dificultad.</dd><br>
                            <dd>Adaptables: se pueden personalizar para cumplir tus requerimientos de tamaño, peso, forma e incluso color. <br>Se adaptan a las necesidades de cada cuerpo.</dd></li><br>
                        <li>
                            <dt><strong>Cámara</strong></dt>
                            <dt>¿Cámara o celular? Si vas a llevar un celular, procura que el mismo tenga una gran capacidad de almacenamiento. <br>Por lo contrario, si tu idea es invertir en una cámara profesional, acá te pasamos algunas opciones:</dt><br>
                            <dd>Fujifilm FinePix X-T1: esta es «La mejor cámara para viajes» es la recomendada por los fotógrafos de <br>National Geographic.</dd><br>
                            <dd>Canon EOS 70D: es una opción un poco más económica.</dd><br>
                            <dd>Canon EOS Rebel T5: Si no quieres invertir mucho dinero porque te estás iniciando, entonces esta es una excelente <br>opción que recomiendan.</dd><br></li><br>
                        <li><dt><strong>Ropa</strong></dt>
                            <dt>Dependiendo del lugar de destino y las preferencias de cada uno, esta lista tendrá una gran variedad de opciones a escoger.<br> Sin embargo, a continuación, detallaremos la indumentaria que se debería priorizar por ser realmente necesaria:</dt>
                            <dd>Jeans</dd>
                            <dd>Shorts</dd>
                            <dd>Remeras</dd>
                            <dd>Ropa interior</dd>
                            <dd>Abrigo</dd>
                            <dd>Rompe viento</dd>
                            <dd>Calzado</dd>
                            <dd>Traje de baño</dd></li><br>
                        <li><dt><strong>Accesorios</strong></dt>    
                            <dt>Esta lista también dependerá de las preferencias de cada uno, sin embargo, acá tienes algunas sugerencias que podrían ser útiles:</dt>
                            <dd>bolsas impermeables</dd>
                            <dd>botella de agua</dd>
                            <dd>botiquín de priemeros auxilios</dd>
                            <dd>toalla secado rápido</dd>
                            <dd>sábanas de viaje</dd>
                            <dd>linterna para la cabeza</dd></li><br>
                                    
                    </ol>                       
            </section>

        </main>

        <aside class="sidebar">
            <div id="galeria-s2">      
            </div>    
        </aside>

        <div class="widget-1">
            <div class="card1">
                <img width="#" height="#" src="../static/img/portrait-two-happy-girls-dressed-autumn-clothes.jpg"alt="#">
            </div>     
        </div>

        <div class="widget-2">       
            <div class="card2" >
                <img width="#" height="#" src="../static/img/mapa.jpg" alt="#">
            </div>
        </div>   
    
        <div class="widget-3">       
            <div class="card3" >
                <img width="#" height="#"src="../static/img/compañera_de_viaje.jpeg" alt="#">
            </div>
        </div>   


        <!-- Pie de página -->
        <footer class="footer" >
            <div class="container">
                <p>&copy; 2024 VGD Travel</p>
                <div class="redes-sociales">
                    <a href="#"><img src="../static/img/facebook.png" width="40" height="40" alt="Facebook"></a>
                    <a href="#"><img src="../static/img/twitter.png" width="40" height="40" alt="X"></a>
                    <a href="#"><img src="../static/img/instagram.png" width="40" height="40" alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>