<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/VGD travel.ico"image/x-icon">
    <link rel="stylesheet" href="../static/css/nosotros3.css">
    <title>Nosotros</title>
</head>
<body>
    <div class="contenedor-body">
        <header class="header" >
            <div class="container">
                <img src="../static/img/VGD travel.png" alt="Logo de la Agencia de Viajes" class="logo">
                <h1>VGD Travel</h1>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="nosotros.html">Quienes somos</a></li>
                        <!-- <li><a href="https://flybondi.com/ar/destinos/" target="_blank">Destinos</a></li> -->
                        <li><a href="equipaje.html">Tips de Equipaje<a></a></li>
                        <li><a href="#sede">Dónde estamos</a></li>
                        <li><a href="vehiculos.html">Alquiler Vehículos</a></li>
                        <li><a href="formulario.html">Compañero de Aventuras<a></a></li>
                        </ul>   
                    </nav>    
            </div>
        </header>
        <main class="contenido">
            <section class="sec-ola">  
               <div class="ola" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C112.58,146.55 248.02,67.61 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
            </section>
            <section class="sec-texto"> 
                <h2>¿Quiénes somos?</h2>
            <p>Somos un equipo de profesionales que exploramos lugares viajando por todos lados, buscando  acompañarte durante la elección de tu viaje...
                <br> <br>Destinos fascinantes y actividades únicas, diseñadas para crear recuerdos inolvidables y conectar con culturas extraordinarias en cada viaje que emprendas.
                Haz realidad tus sueños de viajar, no te quedes con las ganas de recorrer este maravilloso mundo…. 
                <br> <br>Lugares únicos, historias, detalles de vidas cotidianas, experiencias, consejos, guías de recorridos, paquetes personalizados… son proporcionados desde nuestra web para compartirlos contigo. <br> 
                Nos comprometemos a superar tus expectativas, ofreciéndote un servicio excepcional y personalizado que se adapta a tus necesidades, garantizando una experiencia de viaje inigualable llena de comodidad y satisfacción.
                <br><br> Gracias por ser parte de esta maravillosa aventura.        </p>
            </section>    
        </main>

        <aside class="sidebar">
            <div id="video">
                <iframe id="video" src="https://www.youtube.com/embed/eD_5Id4GciE?si=Ez0cEC4OyNGkwq-B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>    

        </aside>

        <div class="widget-1">
            <div class="card1">
                <img src="../static/img/undraw_Trip_re_f724.png" alt="ilustracion">
            </div>     
        </div>

        <div class="widget-2">       
                <div class="card2" id="sede">
                    <h3><i>Sede central </i></h3>
                    <p>Para una atención más personalizada.... te esperamos en nuestras oficinas.</p>
                    <!-- MAPA con etiquetas “iframe” es para incrustar HTML dentro del nuestro. Es para agregar contenidos de 3eros, de otros sitios al nuestro -->
                    <iframe id="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.9041955124226!2d-58.52642782417566!3d-34.657122360320756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9f63396ae49%3A0xb292a958b7730381!2sCodo%20a%20codo%20y%20centro%20de%20formacion%20profecional!5e0!3m2!1ses-419!2sar!4v1711035325970!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            
        </div>
        <footer class="footer" id="footer">
            <div class="container-footer">
                <p>&copy; 2024 VGD Travel</p>
                <div class="redes-sociales">
                    <a href="#"><img src="../static/img/facebook.png" width="40" height="40" alt="Facebook"></a>
                    <a href="#"><img src="../static/img/twitter.png" width="40" height="40" alt="X"></a>
                    <a href="#"><img src="../static/img/instagram.png" width="40" height="40" alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>