<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehículos</title>
    <link rel="stylesheet" href="../static/css/vehiculos.css">
</head>
<body>

    <header>   <!-- menú de navegación -->
        <div class="container">
            <img src="../static/img/VGD travel.png" alt="Logo de la Agencia de Viajes" class="logo">
            <h1>VGD Travel</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Quienes somos</a></li>
                    <!-- <li><a href="https://flybondi.com/ar/destinos/" target="_blank">Destinos</a></li> -->
                    <li><a href="equipaje.html">Tips de Equipaje<a></a></li>
                    <li><a href="vehiculos.html">Alquiler Vehículos</a></li>
                    <li><a href="formulario.html">Compañero de Aventuras<a></a></li>
                    </ul>   
                </nav>    
        </div>

</header>
    <main><h1>Vehiculos disponibles para alquilar</h1>
        <section class="conteiner2">
            <div class="tablabasic">
            <p><h2>Disponemos de una amplia flota de vehículos para poder recorrer las distintas ciudades del país. Para poder reservar un vehículos, debe solictarlo a (011) 4589-4231 , y el vehículo seleccionado estará disponible en el aeropuerto que Ud. nos indique. A continuación está el tarifario de alquiler por día actualizado al 20/05/2024.</h2></p>
            <table >
                <tr>
                    <th>Modelo</th>
                    <th>Capacidad</th>
                    <th>Precio por día</th>
                </tr>
                <tr>
                    <td>Ford Fiesta</td>
                    <td>5</td>
                    <td>$ 100000</td>
                </tr>
                <tr>
                    <td>Ford Ecosport</td>
                    <td>5</td>
                    <td>$ 120000</td>
                </tr>

                <tr>
                    <td>Chevrolet Spin</td>
                    <td>7</td>
                    <td>$ 150000</td>
                </tr>
                <tr>
                    <td>Hyundai H1</td>
                    <td>9</td>
                    <td>$ 200000</td>
                </tr>
                <tr>
                    <td>Toyota Hilux D/C 4x2</td>
                    <td>5</td>
                    <td>$ 180000</td>
                </tr>
                <tr>
                    <td>Toyota Hilux D/C 4x4</td>
                    <td>5</td>
                    <td>$ 220000</td>
                </tr>
                <tr>
                    <td>Minibus</td>
                    <td>15</td>
                    <td>$ 300000</td>
                </tr>
                <tr>
                    <td>Bus</td>
                    <td>40</td>
                    <td>Consultar</td>
                </tr>

            </table>

            <p>* A partir de los 100 km por día, se cobra $1000 por km extra recorrido.</p>
            </div>

    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 VGD Travel</p>
            <div class="redes-sociales">
                <a href="#"><img src="../static/img/facebook.png" width="40" height="40" alt="Facebook"></a>
                <a href="#"><img src="../static/img/twitter.png" width="40" height="40" alt="X"></a>
                <a href="#"><img src="../static/img/instagram.png" width="40" height="40" alt="Instagram"></a>
            </div>
        </div>
    </footer>

</body>
</html>